body {
	background-color: #ddd;
}
#activities .list-group-item {
	position: relative;
}

.list-group-item .buttonGroup {
	position: absolute;
	right:0px;
	top:0px;
}

.btn, .list-group-item, select {
	border-radius: 0px;
	border: 0px;
}

.list-group-item {
	border-bottom: 4px solid #ddd;
}

.modal .list-group-item {
	border-bottom: 2px solid #ddd;	
}

.container {
	padding: 0px;
}

h1,h2,h3,h4,h5,h6 {
	padding: 0px;
	margin: 10px 0px;
}

.header {
	/*padding-left: 10px;*/
}