
.icon-emo-beer:before { content: '\e800'; } /* '' */
.icon-emo-grin:before { content: '\e801'; } /* '' */
.icon-emo-angry:before { content: '\e802'; } /* '' */
.icon-emo-saint:before { content: '\e803'; } /* '' */
.icon-emo-cry:before { content: '\e804'; } /* '' */
.icon-emo-shoot:before { content: '\e805'; } /* '' */
.icon-emo-squint:before { content: '\e806'; } /* '' */
.icon-emo-laugh:before { content: '\e807'; } /* '' */
.icon-marquee:before { content: '\e808'; } /* '' */
.icon-food-1:before { content: '\e809'; } /* '' */