.chat.ng-enter {
  animation: slideInLeft 1s;
}

.pageTransitionBack.ng-enter {
  animation: fadeInLeft 1s;
  position:absolute;
  width: 100%;
}
.pageTransitionBack.ng-leave {
  animation: fadeOutRight 1s;
  position:absolute;
  width: 100%;
}

.pageTransition.ng-enter {
  animation: fadeInRight 1s;
  position:absolute;
  width: 100%;
}
.pageTransition.ng-leave {
  animation: fadeOutLeft 1s;
  position:absolute;
  width: 100%;
}

.bounce {
  animation: flash 3s;
}

.link.ng-move,
.link.ng-enter,
.link.ng-leave {
  transition:all linear 1s;
}

.link.ng-leave.ng-leave-active,
.link.ng-move,
.link.ng-enter {
  opacity:0;
}

.link.ng-leave,
.link.ng-move.ng-move-active,
.link.ng-enter.ng-enter-active {
  opacity:1;
}


  -webkit-animation: bounceOut 1s;
  -moz-animation: bounceOut 1s;
  -ms-animation: bounceOut 1s;
  animation: bounceOut 1s;
