*:not(input):not(textarea) {
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}       

.container {
	/*height: 763px !important;*/
	/*width: 360px !important;*/
	/*overflow-x: hidden;*/
	padding: 0 1em;
}

.link, .button { transition: all .1s; }
.link:active, .button:active { 
	-webkit-transform-style: preserve-3d;
    -webkit-transform: scale3d(0.98, 0.98, 0.98);
   	opacity:0.7; 
}

.container .bottomplaceholder {
	height: 50px;
}

/*** colors ***/
div.modal-header {
	background-color: #eee;
	border-radius: 5px 5px 0px 0px;
}

div.modal-footer {
	background-color: #f7f7f7;
	border-radius: 0px 0px 5px 5px;
}

.good {
	background-color: #CEC !important;
}

.bad {
	background-color: #FCC !important;
}

.ui.button.fluid {
	margin-bottom: 0.2em;
}