.headerplaceholder {
	position:fixed;
	background-color: #ddd;
	height: 50px; 
	height: 50px; 
	margin-bottom: 5px;
	width:100%;
	z-index: 1000;
	font-size: 24px;
	padding: 8px;
	width: 100% !important;

	display:none;
}

.footerplaceholder {
	position:fixed;
	bottom:0px;
	background-color: transparent;
	height: 50px; 
	width:100%;
	z-index: 1000;
	width: 100% !important;

	/*display:none;*/
}

* {
	font-family: 'Oswald'
}

html, body, .container {
	height: 763px !important;
	width: 360px !important;
	overflow-x: hidden;
}

.link, .btn { transition: all .1s; }
.link:active, .btn:active { transform: scale(0.95); }

.container {
	/*padding-top: 50px;*/

	padding-top: 0px;
}

.container .bottomplaceholder {
	height: 50px;
}

h5 {
	padding: 10px 5px;
	margin-bottom: 0px;
	background-color: #f4f4f4;
}

.full {
	margin: 0px -15px;
}

.full.title {
	margin-bottom: 0px;
	margin-top: 0px;

	border-top: 1px solid #aab;
	border-bottom: 1px solid #aab;

	background-color: #dde;
	padding: 10px;
}

/*** colors ***/


div.modal-header {
	background-color: #eee;
	border-radius: 5px 5px 0px 0px;
}

div.modal-footer {
	background-color: #f7f7f7;
	border-radius: 0px 0px 5px 5px;
}

.good {
	background-color: #CEC !important;
}

.bad {
	background-color: #FCC !important;
}
