<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular-route.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.js"></script>

	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>

	<script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

	<Script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore-contrib/0.3.0/underscore-contrib.min.js"></script>
	<Script src="../events/js/angular-underscore.js"></script>

	<!-- semantics -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.5/semantic.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.5/semantic.css"/>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.1/angular-moment.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.9/d3.js"></script>
	<script src="http://mbostock.github.io/d3/talk/20111018/colorbrewer/colorbrewer.js"></script>
	<link rel="stylesheet" href="http://mbostock.github.io/d3/talk/20111116/colorbrewer/colorbrewer.css"/>
</head>

<body ontouchstart="" ng-controller="Controller">

	<style>
		body {
			padding: 0rem 1rem;
   		}

		.ui.segment {
			overflow-x: auto;
		}

		.ui.dText {
			position: absolute;
			top: 20%;
			left: 20%;
			font-size: 20px;
		}

		.ui.today {
			border: 1px solid red;
			padding: 10px 5px;
			margin: -10px -5px;
		}

		input.score {
			padding: 0px !important;
			font-size: 24px !important;
			width: 35px !important;
			padding: 5px !important;
			text-align: center !important;
			background-color: transparent !important;
			border: 0px !important;
			color: inherit !important;
		}

		#matches .ui.column {
			padding-left: 0px !important;
			padding-right: 0px !important;
		}

		td {
			text-align: center !important;
		}

		table .ui.label {
			cursor: hand;
			cursor: pointer;
		}
	</style>

	<div class="ui header">
		<div class="content">
			FIFA 16 League

			<select ng-change="load()"
					style="margin-left:10px; padding:5px"
					ng-model="season"
					ng-options="s for s in seasons track by s"></select>
		</div>
	</div>

	<div class="ui stackable grid">
		<div class="ui four wide column">
			<div id="players" class="ui secondary segment" ng-controller="RankingController">
				<div class="ui header">Ranking</div>

				<div id="ranking"></div>
			</div>

			<div id="table" class="ui secondary segment" ng-controller="TableController">
				<div class="ui header">Table</div>

				<table class="ui very basic collapsing compact celled unstackable table">
					<thead>
						<tr>
							<th> Team </th>
							<th> P </th>
							<th> W </th>
							<th> D </th>
							<th> L </th>
							<th> GF </th>
							<th> GA </th>
							<th> GD </th>
							<th> Pt </th>
							<th/>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="p in t">
							<td>{{p.name}}</td>
							<td ng-bind="p.played" style="background-color: {{ tScales['played'](p.played) }}"></td>
							<td ng-bind="p.won" style="background-color: {{ tScales['won'](p.won) }}"></td>
							<td ng-bind="p.drawn" style="background-color: {{ tScales['drawn'](p.drawn) }}"></td>
							<td ng-bind="p.lost" style="background-color: {{ tScales2['lost'](p.lost) }}"></td>
							<td ng-bind="p.goalFor" style="background-color: {{ tScales['goalFor'](p.goalFor) }}"></td>
							<td ng-bind="p.goalAgainst" style="background-color: {{ tScales2['goalAgainst'](p.goalAgainst) }}"></td>
							<td ng-bind="p.goalDifference" style="background-color: {{ tScales['goalDifference'](p.goalDifference) }}"></td>
							<td ng-bind="p.points" style="background-color: {{ tScales['points'](p.points) }}"></td>
							<td/>
						</tr>
					</tbody>
				</table>
			</div>

			<div id="calendar" class="ui secondary column segment" ng-controller="CalendarController">
				<div class="ui header">
					Calendar
					<div class="ui sub header">
						<span> {{ d | amDateFormat: 'MMMM YYYY' }} </span>
						<span> <i class="ui angle left icon link" ng-click="lastMonth()"></i> </span>
						<span> <i class="ui angle right icon link" ng-click="nextMonth()"></i> </span>
					</div>
				</div>

				<div id="dates" class="ui seven column grid">
					<div class="column">Sun</div>
					<div class="column">Mon</div>
					<div class="column">Tue</div>
					<div class="column">Wed</div>
					<div class="column">Thu</div>
					<div class="column">Fri</div>
					<div class="column">Sat</div>

					<div class="column" ng-repeat="a in emptiness"></div>
					<div
						class="ui column link date"
						style="min-height: 4em"
						ng-repeat="date in dd.dates">

						<span class="ui dText" ng-class="{ today:date==today, disabled:d.format(date, 'YYYY-MM-DD') < startDate || d.format(date, 'YYYY-MM-DD') > endDate }">
							{{ date | amDateFormat: 'D' }}
						</span>

						<div style="margin-left:2em">
							<span class="ui blue basic label"
							ng-repeat="d in dropped">
								{{d.home}} <Br> vs <br> {{d.away}}
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui twelve wide column">
			<div id="rules" class="ui secondary segment">
			<div class="ui header">Rules</div>

      1. 聯賽打雙循環，賽期為一個月，開始日為 12-01，終止時間為 12-31
      <br>
      2. 贏波3分，和波1分，不打加時
      <br>
      3. 同分排名以對賽成績為先，次為得失球，如相同則計得球。
      <br>
      4. 每人可選擇任何球隊在此聯賽作賽
      <br>
      5. 球賽為6分鐘
      <br>
      6. 每場賽事皆會直播，而每場賽事開賽前需要在此group作通知。在完成賽事後要將結果拍照post上此group
      <br>
      7. 如有任何賽事未在 12-31 前完成的話則雙方在該場同得零分。
      <br>
      8. 如有任何賽事未踢完而因任何問題而终止，則以電腦確認的最後結果為準。
      <br>
      9. 主場球隊負責更新到此網頁，必須輸入球賽比數及雙方使用球隊，長期沒有更新可以當作負 0:3
      <br>
      10. 比賽有 HANDICAP LOGO 時，一方須使用較弱球隊，例：如顯示紅色半星，主場球隊只可使用不強於 5 - 0.5 即 4.5星球隊作賽，如果是黃色星星，則作客球隊必須作出相對退賽
      <br>
      11. 主客兩輪比賽不可在同一天舉行
		</div>

		<div id="matches" class="ui secondary segment" ng-controller="MatchGridController">
			<div class="ui header">Match Grid</div>

			<table class="ui very basic celled table">
				<thead>
					<tr>
						<th> H \ A </th>
						<th ng-repeat="p in players" ng-bind="p.name"></th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="p in players">
						<th ng-bind="p.name"></th>
						<td ng-repeat="p2 in players" style="padding:0px">
							<span ng-if="p.id==p2.id"> \ </span>

							<!--moment().format('YYYY-MM-DD') <= endDate && -->
							<div ng-if="p.id!=p2.id">
								<div style="display:none">{{ m = _(matches).findWhere({ home:p.id, away:p2.id }) }}</div>
								<span class="ui large basic blue label"
									style="text-align:center; margin:10px"
									ng-click="match.setEdit(m, true)"
									ng-if="!m.edit && !match.played(m)" >

										{{p.name}} <Br> vs <br> {{p2.name}}

									<div class="ui item" style="padding:5px 0px" ng-if="printStars(m).length != 0">
										<i class="ui handicap icon"></i>:<span ng-bind-html="printStars(m)"</span>
									</div>
								</span>

								<div id="matchDetails" class="ui form"
									ng-if="match.played(m) || m.edit"
									style="background-color: {{ wdlScale(m.homeScore-m.awayScore) }}; color: {{ wdlFontScale(m.homeScore-m.awayScore) }} !important">

									<div class="ui equal width center aligned padded grid">
										<div class="ui row">
											<div class="ui column">
												<div ng-bind="p.name"></div>
												<div> <input class="score" ng-model="m.homeScore"
													ng-focus="match.setEdit(m, true)"
													ng-click="match.setEdit(m, true)"/>
												</div>

												<select ng-model="m.homeTeam" ng-if="m.edit">
													<option ng-repeat="t in teams | orderBy:'name'" value="{{t.name}}">
														{{t.name}}
													</option>
												</select>

												<img src="{{_(teams).findWhere({ name: m.homeTeam }).url}}" ng-if="!m.edit" ng-click="match.setEdit(m, true)" height="40"/>
											</div>
											<div class="ui column">
												<div ng-bind="p2.name"></div>
												<div> <input class="score" ng-model="m.awayScore"
													ng-focus="match.setEdit(m, true)"
													ng-click="match.setEdit(m, true)"/>
												</div>

												<select ng-model="m.awayTeam" ng-if="m.edit">
													<option ng-repeat="t in teams | orderBy:'name'" value="{{t.name}}" ng-bind="t.name"></option>
												</select>

												<img src="{{_(teams).findWhere({ name: m.awayTeam }).url}}" ng-if="!m.edit" ng-click="match.setEdit(m, true)" height="40"/>
											</div>
										</div>

										<div class="ui item" style="padding:10px" ng-if="printStars(m).length != 0">
											<i class="ui handicap icon"></i><span ng-bind-html="printStars(m)"</span>
										</div>

										<div class="ui item" style="padding:10px" ng-if="m.eloChange">
											<i class="ui line chart icon"></i> <span ng-bind="m.eloChange"></span>
										</div>

										<div class="ui row" ng-if="m.edit">
											<div class="ui fluid buttons">
												<span class="ui green compact icon button" ng-click="match.save(m)"> <i class="ui checkmark icon"></i> </span>
												<span class="ui red compact icon button" ng-click="match.remove(m)"> <i class="ui remove icon"></i> </span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script>
		var players, matches;
		var app = angular
			.module('app', ['angularMoment', "ngRoute", "firebase", 'angular-underscore'])
			.controller("MatchGridController", function($rootScope, $scope, $sce) {

				$scope.match = {
					played: function(m) {
						return m && m.played;
					},

					setEdit: function(m, value) {
						m.edit = value;
					},

					winner: function(m) {
						return m.homeScore > m.awayScore? "H": m.homeScore == m.awayScore? "D": "A";
					},

					winnerR: function(m) {
						return m.homeScore > m.awayScore? 1: m.homeScore == m.awayScore? 0.5: 0;
					},

					margin: function(m) {
						return Math.abs(m.homeScore - m.awayScore);
					},

					save: function(m) {
						$scope.match.rewindMatchElo(m);

						m.edit = null;
						m.played = true;
						m.homeScore = parseInt(m.homeScore);
						m.awayScore = parseInt(m.awayScore);
						m.homePoint = m.homeScore > m.awayScore? 3: m.homeScore == m.awayScore? 1: 0;
						m.awayPoint = m.homePoint == 3? 0: m.homePoint == 1? 1: 3;
						m.time = new Date();

						m.edit = false;

						$scope.match.updateMatchElo(m);
						$scope.matches.$save(m);
						$rootScope.$broadcast("update");
					},

					remove: function(m) {
						$scope.match.rewindMatchElo(m);

						m.edit = null;
						m.played = false;
						m.homeScore = 0;
						m.awayScore = 0;
						m.homePoint = 0;
						m.awayPoint = 0;

						m.awayTeam = null;
						m.homeTeam = null;
						m.eloChange = null;

						$scope.matches.$save(m);

						m.edit = false;
					},

					rewindMatchElo: function(m) {
						if (!m.eloChange) return;

						var homePlayer = _($scope.players).findWhere({id:m.home});
						var awayPlayer = _($scope.players).findWhere({id:m.away});

						homePlayer.elo -= m.eloChange;
						awayPlayer.elo += m.eloChange;

						homePlayer.elo = +(homePlayer.elo).toFixed(2);
						awayPlayer.elo = +(awayPlayer.elo).toFixed(2);

						$scope.players.$save(homePlayer);
						$scope.players.$save(awayPlayer);
					},

					updateMatchElo: function(m) {
						var homePlayer = _($scope.players).findWhere({id:m.home});
						var awayPlayer = _($scope.players).findWhere({id:m.away});

						m.homeBaseElo = homePlayer.elo;
						m.awayBaseElo = awayPlayer.elo;

						var eloDifference = homePlayer.elo - awayPlayer.elo;
						var e = 1 / ( Math.pow(10, (eloDifference*-1/400)) + 1 );
						var k = 20;

						var r = $scope.match.winnerR(m);
						var elo_1x2 = +((r - e) * k * (r==0.5? 1: Math.pow(1.1, $scope.match.margin(m) - 1))).toFixed(2);
						console.log(homePlayer.elo, awayPlayer.elo, e, elo_1x2);

						homePlayer.elo += elo_1x2;
						awayPlayer.elo -= elo_1x2;
						homePlayer.elo = +(homePlayer.elo).toFixed(2);
						awayPlayer.elo = +(awayPlayer.elo).toFixed(2);

						m.eloChange = elo_1x2;
						m.homeElo = homePlayer.elo;
						m.awayElo = awayPlayer.elo;

						$scope.players.$save(homePlayer);
						$scope.players.$save(awayPlayer);
					}
				}

				$scope.printStars = function(m) {
					if (!m) return "";

					var val = m.homeBaseElo?
								(m.homeBaseElo - m.awayBaseElo) / 200:
								(_($scope.players).findWhere({ id: m.home }).elo - _($scope.players).findWhere({ id: m.away }).elo) / 200;

					var color = val > 0 ? 'red': 'yellow';

					val = Math.abs(val);
					var html = "";
					while(val > 0) {
						if (val > 1) {
							html += "<i class='ui "+color+" star icon'></i>";
							val--;
						} else if (val >= 0.5) {
							html += "<i class='ui "+color+" half star empty icon'></i>";
							val -= 0.5;
						} else break;
					}
					return $sce.trustAsHtml(html);
				}

			})
			.controller("AdminController", function($scope) {
				$scope.generateMatches = function() {
					//clear matches first
					_($scope.matches).each(function(m) {
						$scope.matches.$remove(m);
					})

					_($scope.players).each(function(p) {
						_($scope.players).each(function(p2) {
							if (p.id == p2.id) return;

							var played = 0; //_([0,1]).sample();
							var homeScore = played? _([0,1,2,3,4,5]).sample(): 0;
							var awayScore = played? _([0,1,2,3,4,5]).sample(): 0;
							var homePoint = played? (homeScore > awayScore? 3: homeScore == awayScore? 1: 0): 0;
							var awayPoint = played? (homePoint == 3? 0: homePoint == 1? 1: 3): 0;

							$scope.matches.$add({
								id: p.id+"|"+p2.id,
								home: p.id,
								away: p2.id,
								homeScore: homeScore,
								awayScore: awayScore,
								homePoint: homePoint,
								awayPoint: awayPoint,
								played: homePoint > 0 || awayPoint > 0,
								time: moment().format('YYYY-MM-DD HH:mm:ss')
							});
						});
					});
				};

				$scope.addPlayer = function() {
					$scope.players.$add($scope.newPlayer);
					$scope.newPlayer = {};
				};

				$scope.removePlayer = function(p) {
					$scope.players.$remove(p);
				};

				$scope.buildElo = function() {
					_($scope.matches).chain()
						.shuffle()
						.where({ played: true })
						.each($scope.match.updateMatchElo);

					_($scope.players).each(function(p) {
						$scope.players.$save(p);
					});
					_($scope.matches).each(function(m) {
						$scope.matches.$save(m);
					})
				};

				$scope.clearUnplayed = function() {
					_($scope.matches).chain()
						.where({ played:false })
						.each(function(m) {
							$scope.matches.$remove(m);
						})
				}
			})
			.controller("TableController", function($rootScope, $scope) {

				$scope.table = {
					played: function(p) {
						return _($scope.matches).filter(function(e) { return (p.id == e.home || p.id == e.away) && e.played }).length;
					},

					won: function(p) {
						return _($scope.matches).filter(function(e) { return (p.id==e.home && e.homePoint==3) || (p.id==e.away && e.awayPoint==3) }).length;
					},

					drawn: function(p) {
						return _($scope.matches).filter(function(e) { return (p.id==e.home && e.homePoint==1) || (p.id==e.away && e.awayPoint==1) }).length;
					},

					lost: function(p) {
						return _($scope.matches).filter(function(e) { return ((p.id==e.home && e.homePoint==0) || (p.id==e.away && e.awayPoint==0)) && e.played }).length;
					},

					goalFor: function(p) {
						return _($scope.matches).chain().map(function(e) { return p.id==e.home? +e.homeScore: p.id==e.away? +e.awayScore: 0; }).reduce(function(a,b) { return a+b }).value();
					},

					goalAgainst: function(p) {
						return _($scope.matches).chain().map(function(e) { return p.id==e.home? +e.awayScore: p.id==e.away? +e.homeScore: 0; }).reduce(function(a,b) { return a+b }).value();
					},

					goalDifference: function(p) {
						return $scope.table.goalFor(p) - $scope.table.goalAgainst(p);
					},

					points: function(p) {
						return _($scope.matches).chain().map(function(e) { return p.id==e.home? e.homePoint: p.id==e.away?e.awayPoint: 0; }).reduce(function(a,b) { return a+b }).value();
					},

					build: function() {
						var t = [];
						_($scope.players).each(function(p) {
							t.push({
								name: p.name,
								played: $scope.table.played(p),
								won: $scope.table.won(p),
								drawn: $scope.table.drawn(p),
								lost: $scope.table.lost(p),
								goalFor: $scope.table.goalFor(p),
								goalAgainst: $scope.table.goalAgainst(p),
								goalDifference: $scope.table.goalDifference(p),
								points: $scope.table.points(p)
							});
						});

						if (t[0]) {
							$scope.tScales = {};
							$scope.tScales2 = {};
							_(t[0]).chain().keys().each(function(key) {
								$scope.tScales[key] = $scope.d3.scale.linear()
									.domain($scope.d3.extent(_(t).pluck(key)))
									.range(["pink", "lightblue"]);
								$scope.tScales2[key] = $scope.d3.scale.linear()
									.domain($scope.d3.extent(_(t).pluck(key)))
									.range(["lightblue", "pink"]);
							});
						}

						$scope.t = _(t).sortBy(function(e) {
							return e.points * 1000 + e.goalDifference;
						}).reverse();
					}
				}

				$rootScope.$on("update", function (event, args) {
					$scope.table.build();
					$scope.$apply();
				});
			})
			.controller("CalendarController", function($scope) {
				$scope.d = moment();
				$scope.today = $scope.d.format('YYYY-MM-DD');
				$scope.startDate = '2015-12-01';
				$scope.endDate = '2015-12-31';

				$scope.nextMonth = function() {
					$scope.d = $scope.d.add(1, 'M');
					$scope.defineCal();
				}

				$scope.lastMonth = function() {
					$scope.d = $scope.d.add(-1, 'M');
					$scope.defineCal();
				}

				$scope.defineCal = function() {
					var d = new moment($scope.d.toDate()).startOf('month');
					$scope.dd = $scope.dd || {};
					$scope.dd.dates = [];
					$scope.emptiness = _.range(d.weekday());

					while(true) {
						$scope.dd.dates.push(d.format('YYYY-MM-DD'));
						d.add(1, 'd');
						if (d.format('DD') == 1) break;
					}
				}

				$scope.defineCal();
			})
			.controller("RankingController", function($scope) {
				var init = false;
				var svg, y;

				$scope.initSVG = function(players) {
					if (init) return;
					init = true;

					var margin = {top: 20, right: 80, bottom: 30, left: 50},
						width = 300 - margin.left - margin.right,
						height = 500 - margin.top - margin.bottom;

					y = d3.scale.linear()
								.range([height, 0])
								.domain(d3.extent(players, function(p) { return p.elo; }));

					svg = d3.select("#ranking").append("svg")
						.attr("width", width + margin.left + margin.right)
						.attr("height", height + margin.top + margin.bottom)
						.append("g")
						.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

					var lineHeight = 14;

					var points = svg.selectAll("circle")
						.data(players)
						.enter()
							.append("circle")
							.attr("fill", function(d, i) { return $scope.eloScale(d.elo) })
							.attr("cx", function(d, i) { return 100; })
							.attr("cy", function(d, i) { return y(d.elo) })
							.attr("r", function(d, i) { return 5 });

					var text= svg.selectAll("text")
						.data(players)
						.enter()
							.append("text")
							.attr("x", function(d, i) { return i%2==0? 120: 0; })
							.attr("y", function(d, i) { return y(d.elo) + lineHeight/3; })
							.text(function(d, i) { return d.name + " " + d.elo });
				}

				$scope.$on("update", function (event, args) {
					console.log('update');
					$scope.eloScale = $scope.d3.scale.linear()
							.domain(d3.extent(_($scope.players).pluck('elo')))
							.range(["pink", "lightblue"]);
					$scope.$apply();

					players = _($scope.players).sortBy('elo');

					$scope.initSVG(players);

					svg.selectAll("circle").data(players);
					svg.selectAll("text").data(players);
				});
			})
			.controller("Controller", function($rootScope, $scope, $firebaseObject, $firebaseArray, $routeParams, $timeout, $window) {
				$scope.d3 = $window.d3;
				$scope.load = function(season) {
					$scope.seasons = ['season1', 'season2'];
					$scope.season = season || $scope.season || $scope.seasons[0];
					$scope.teams = $firebaseArray(new Firebase("https://fifa16.firebaseio.com/teams"));
					$scope.players = $firebaseArray(new Firebase("https://fifa16.firebaseio.com/"+$scope.season+"/players"));
					$scope.matches = $firebaseArray(new Firebase("https://fifa16.firebaseio.com/"+$scope.season+"/matches"));
					$scope.matches.$watch(function() {
						$scope.throttleUpdate();
					});
				}

				$scope.throttleUpdate = _.throttle(function() {
					$rootScope.$broadcast("update");
				}, 100, { leading:false, trailing:true });

				$scope.load('season2');
			})
	</script>
</body>
</html>
