

<style>
	.chats .chat {
		clear:both;
		margin: 10px 0px;
	}

	.chats .sent {
		float:right;
	}
</style>

<div class="chats">
	<div style="padding:10px" ng-show="!chats || chats.length == 0"> No Chat </div>

	<div class="received" ng-if="chats.length > 8">
		<div class="ui label pointing left">... ...</div>
	</div>

	<div ng-repeat="c in chats"
		ng-if="$index >= chats.length - 8"
		class="chat"
		ng-class="{'received':c.user!=local.user.$id, 'sent':c.user==local.user.$id}">
		<div class="ui large label" ng-class="{'orange':c.user!=local.user.$id, 'teal':c.user==local.user.$id}">
			<div ng-hide="c.user==local.user.$id" style="font-weight:bold" ng-bind="users.$getRecord(c.user).name"></div>
			<!-- <h6 class="ui label green" ng-bind="c.ts"></h6> -->
			{{c.content}}
		</div>
	</div>

	<div style="clear:both">&nbsp;</div>
</div>

<div style="position:fixed; bottom:0px; width:100%; margin-left:-0.5em">
	<input placeholder="chat..." class="link" style="padding:10px; width:100%" ng-model="newText"/>
	<div class="ui fluid button" ng-click="newChat(newText); newText = ''"> Chat </div>
</div>
