

<style>
	.chats .chat {
		clear:both;
		margin: 10px 0px;
	}

	.chats .sent {
		float:right;
	}
</style>


<div style="position:fixed; bottom:0px; width:100%; left:0px" ng-show="showChats">

	<div class="ui segment inverted chats" style="margin:0px">
		<i class="ui icon remove pull-right" style="position:absolute; right:10px; padding:10px" ng-click="showChats = false"></i>

		<div style="margin-bottom:10px"> Chats </div>
	 
		<div style="padding:10px" ng-show="!chats || chats.length == 0"> No Chat </div>
	 
		<div class="received" ng-if="chats.length > 5"> 
			<div class="ui label pointing left">... ...</div>
		</div>

		<div ng-repeat="c in chats"
			ng-if="$index >= chats.length - 5"
			class="chat"
			ng-class="{'received':c.user!=local.user.$id, 'sent':c.user==local.user.$id}">
			<div class="ui label" ng-class="{'pointing left orange':c.user!=local.user.$id, 'pointing right teal':c.user==local.user.$id}">
				<div ng-hide="c.user==local.user.$id" style="font-weight:bold" ng-bind="users.$getRecord(c.user).name"></div>
				<!-- <h6 class="ui label green" ng-bind="c.ts"></h6> -->
				<div class="detail" ng-bind="c.text"></div>
			</div>
		</div>

		<div style="clear:both">&nbsp;</div>
	</div>

	<input placeholder="chat..." class="link" style="padding:10px; width:100%" ng-model="newText"/>
	
	<div class="ui fluid button" ng-click="newChat(newText)"> Chat </div>
</div>
</div>

