
<div class="ui header">
	<!-- <div ng-click="goto('history/' + event.$id)" class="ui right floated tiny button"> <i class="ui icon history"></i> History </div>
	<div ng-click="goto('chat/' + event.$id + '/type/event')" class="ui right floated tiny button"> <i class="ui icon wechat"></i> Chat </div> -->
	<span id="eventName">{{event.name}}</span>
	<div class="ui sub header">{{event.description}}</div>
</div>

<style>
	div.topic {
		margin: 0px -20px;
		padding: 15px 20px;
	}

	div.topic:nth-child(even) {
		background-color: #ddd;
	}

	div.choice .badge {
		font-weight: normal !important;
	}

	div.choice.chosen {
		font-weight: bold !important;
		background-color: #ccc;
	}

	div.choice {
		padding: 0em !important;
	}

	#participants .ui.grid {
		margin: inherit;
	}
</style>

	<!-- Participants Modal -->
	<div class="ui modal fade" id="modal" ng-init="decisions = ['yes', 'maybe', 'no']" ng-cloak>
	  <div class="ui header"> Participants </div>

		<div ng-repeat="d in decisions">
		  <div class="ui attached segment" style="border:0px"
		  		ng-class="{
				  'inverted green': _(event.users).findWhere({ id: local.user.$id }).decision == 'yes' && d == 'yes',
				  'inverted yellow': _(event.users).findWhere({ id: local.user.$id }).decision == 'maybe' && d == 'maybe',
				  'inverted red': _(event.users).findWhere({ id: local.user.$id }).decision == 'no' && d == 'no'
				}"
		  		ng-click="logParticipate(d);">
			  <span ng-show="_(event.users).findWhere({ id: local.user.$id }).decision == d"><i class="ui checkmark icon"></i></span>
			  {{ d }}
		  </div>
		</div>

		<div class="ui segment">
			<button type="button" class="ui blue button close">OK</button>
		</div>
	</div>

	<div class="ui sticky topic link" id="participants" ng-click="decision('participants')" ng-cloak>
		<h4 class="ui header">
			<span class="ui right floated sub header">
				<span class="ui label"  ng-class="{
					'green': _(event.users).findWhere({ id: local.user.$id }).decision == 'yes',
					'yellow': _(event.users).findWhere({ id: local.user.$id }).decision == 'maybe',
					'red': _(event.users).findWhere({ id: local.user.$id }).decision == 'no'
				}">
					<i class="ui icon" ng-class="{
						'checkmark': _(event.users).findWhere({ id: local.user.$id }).decision == 'yes',
						'help': _(event.users).findWhere({ id: local.user.$id }).decision == 'maybe',
						'remove': _(event.users).findWhere({ id: local.user.$id }).decision == 'no'
					}"></i>
					{{ _(event.users).findWhere({ id: local.user.$id }).decision }}
				</span>
			</span>
			Participants
		</h4>

		<div class="ui three column grid" style="clear:both; padding:5px">
			<div class="ui column">Going</div>
			<div class="ui column">Maybe</div>
			<div class="ui column">Invited</div>

			<div class="ui column">
				<div ng-repeat="u in event.users" ng-if="u.decision=='yes'">
					<span  ng-bind="users.$getRecord(u.id).name"></span>
				</div>
				<div ng-if="_(event.users).filter({ decision: 'yes' }).length == 0"> / </div>
			</div>
			<div class="ui column">
				<div ng-repeat="u in event.users" ng-if="u.decision=='maybe'">
					<span  ng-bind="users.$getRecord(u.id).name"></span>
				</div>
				<div ng-if="_(event.users).filter({ decision: 'maybe' }).length == 0"> / </div>
			</div>
			<div class="ui column">
				<div ng-repeat="u in event.users" ng-if="u.decision=='no'">
					<span  ng-bind="users.$getRecord(u.id).name"></span>
				</div>
				<div ng-if="_(event.users).filter({ decision: 'no' }).length == 0"> / </div>
			</div>
		</div>
	</div>

  	<div ng-repeat="t in event.topics"
  		class="ui link topic"
  		ng-click="goto('/eventTopic/' + t)">

  		<h4 class="ui header">
			<span class="ui right floated sub header">
				<span class="ui label" ng-class="{
						'green': topics.$getRecord(t).votes[local.user.$id],
						'yellow': !topics.$getRecord(t).votes[local.user.$id]
					}"
					 ng-show="!topics.$getRecord(t).finalize">
					You: <span style="margin-left:10px">{{topics.$getRecord(t).votes[local.user.$id] || "?"}}</span>
				</span>
			</span>

				{{topics.$getRecord(t).name}} <br> <small> {{topics.$getRecord(t).description}} </small>
			</h4>

  		<div ng-repeat="c in topChoices(t)"
  				ng-hide="topics.$getRecord(t).finalize"
					class="ui choice attached segment">

					<span class="ui horizontal circular label" ng-bind="getVote(t, c)"></span>
	  			<span ng-bind="c"></span>
  		</div>

			<div ng-if="topics.$getRecord(t).finalize" style="margin-top:5px">
					<style>
						td { text-align:center; padding:5px; }
					</style>
					<table style="width:100%">
						<tr>
							<td>Finalized</td>
							<td>You</td>
						</tr>
						<Tr>
							<Td><div class="ui black small fluid button">{{topics.$getRecord(t).finalize}}</div>
							<Td><div class="ui red small fluid button">{{topics.$getRecord(t).votes[local.user.$id] || "?"}}</div>
						</tr>
					</table>

					<div ng-if="topics.$getRecord(t).finalize != topics.$getRecord(t).votes[local.user.$id]">
						<div class="ui pointing yellow basic large fluid label" style="line-height:2em">
							 Your choice is different from the finalized decision <br>
							 <div class="ui green button"> Accept </div> or <div class="ui red button" style="margin-left:5px"> Decline Event </div>
						</div>
					</div>

			</div>

  		<div ng-if="topChoices(t).length == 0"> No Votes Yet ... </div>

  		<div style="margin-top:10px" ng-show="!topics.$getRecord(t).finalize" class="ui tiny floated right label"> more ... </div>
	</div>

	<!-- newTopicModal -->
	<div class="ui modal fade" id="newTopicModal">
	      <div class="ui header">
	        <h4 id="myModalLabel">New Topic</h4>
	      </div>

	      <div class="content">
	      	  <div class="form-group">
			    <label for="name">Name</label>
			    <div class="ui fluid input">
				    <input type="text" class="form-control" placeholder="Topic Name" ng-model="newTopic.name">
				</div>
			  </div>
			  <div class="form-group">
			    <label for="description">Description</label>
			    <div class="ui fluid input">
				    <input type="description" class="form-control" placeholder="Event Description" ng-model="newTopic.description"></input>
				</div>
			  </div>
			  <div class="form-group">
			    <label for="choices">Choices</label>
				<div class=" ui fluid input">
			    	<input type="text" class="form-control" placeholder="Choice 1" ng-model="newTopic.choices[0]"/>
				</div>
			    <div class=" ui fluid input">
			    	<input type="text" class="form-control" placeholder="Choice 2" ng-model="newTopic.choices[1]"/>
				</div>
			    <div class=" ui fluid input">
			    	<input type="text" class="form-control" placeholder="Choice 3" ng-model="newTopic.choices[2]"/>
				</div>
			    <div class=" ui fluid input">
			    	<input type="text" class="form-control" placeholder="Choice 4" ng-model="newTopic.choices[3]"/>
				</div>
			    <div class=" ui fluid input">
			    	<input type="text" class="form-control" placeholder="Choice 5" ng-model="newTopic.choices[4]"/>
				</div>
			  </div>
	      </div>
	      <div class="ui segment">
	        <button type="button" class="ui close button">Cancel</button>
	        <button type="button" class="ui blue close button" ng-click="saveNewTopic(newTopic)">Confirm</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div ng-click="openNewTopicModal()" class="ui tiny  button"> <i class="ui add square icon"></i> New Topic </div>

<div style="clear:both"></div>
