
	
	
<div class="ui breadcrumb">
  <a href="#" ng-click="goto('eventSummary/' + topic.event)" class="section">{{events.$getRecord(topic.event).name}} </a>
  <div class="divider"> / </div>
  <div class="active section">History</div>
</div>

<div class="events" style="margin-top: 20px">
	<div class="ui one column grid">
		<div ng-repeat="h in history" 
			class="ui link attached column">
	
			<div class="ui header">
				<div>
					<span class="ui small label" ng-bind="users.$getRecord(h.user).name"></span>
					<span class="ui small orange label" ng-bind="topics.$getRecord(h.topic).name"></span>
				</div>
				<div class="sub header" style="padding:5px 8px">
					<span class="ui" ng-bind="h.action"></span>: <span ng-bind="h.content"></span> 					
					<div class="ui sub header" style="font-size:8px" ng-bind="h.ts"></div>
				</div>
			</div>
		</div>
	</div>
</div>