
<h4> Main </h4>

<style>
	.buttons .btn {
		font-size: 16px;
		line-height: 3em;
	}
</style>

<div class="buttons">
	<a class="btn btn-warning btn-block" href="newevent.html"> Create new event </a>
	<a class="btn btn-info btn-block" href="myevents.html"> My Events </a>
	<a class="btn btn-success btn-block" href="invitations.html"> Invitations </a>
	<a class="btn btn-danger btn-block" href="mydata.html"> My Data </a>
	<a class="btn btn-primary btn-block" href="settings.html"> Settings </a>
</div>
