
	
<div class="ui header"> 
	<div class='ui right floated header'>
		<a class="ui button small" href="#!/newEvent"> New </a>
	</div>
	My Events
</div>

<style>
	.events .segment:nth-child(odd) {
		background-color: #fafafa;
	}
</style>

<div class="events">
	<div ng-repeat="e in events" 
		ng-click="goto('eventSummary/' + e.$id)" 
		ng-if="_(e.users).contains(local.user.$id)" 
		class="ui attached segment">

		<div class="ui header">
			<div ng-bind="e.name"></div>
			<div class="sub header" ng-bind="e.description"></div>
		</div>
	</div>
</div>