	<div class="ui button fluid"
    	ng-class="{good:newEvent.name, bad:!newEvent.name}" ng-click="openEvent()"> 
			<div class="ui header" style="margin-top:0px"> Event Name </div>
      		{{newEvent.name}}
			<Br>
			<small>{{newEvent.description}}</small>
	</div>

	<div class="ui button fluid"
	  	ng-class="{good: newTopics['Time'], bad: !newTopics['Time']}" 
	  	ng-click="openTopic('Time')">
			<div class="ui header"> Time </div>
      		<div ng-repeat="c in newTopics['Time'].choices" style="line-height:20px">
		  		<small ng-bind="c"></small><Br>
	  		</div>
	</div>

	<div class="ui button fluid"
	  	ng-class="{good: newTopics['Venue'], bad: !newTopics['Venue']}" 
	  	ng-click="openTopic('Venue')">
			<div class="ui header"> Place </div>
      		<div ng-repeat="c in newTopics['Venue'].choices" style="line-height:20px">
		  		<small ng-bind="c"></small><Br>
	  		</div>
	</div>

	<div class="ui button fluid"
	  	ng-class="{good: _(users).filter({ selected: true }).length > 0, bad:_(users).filter({ selected: true }).length <= 0}" 
	  	ng-click="openParticipants()">
			<div class="ui header"> Participants </div>
	  		<div ng-repeat="c in _(users).filter({selected:true})" style="line-height:20px">
		  		<small ng-bind="c.name"></small><Br>
	  		</div>
	</div>


	  <div 	ng-repeat="t in newTopics" 
	  		class="ui button fluid" 
	  		ng-hide="{{t.id=='Venue' || t.id=='Time'}}"
	  		ng-click="openTopic(t.name)">
	  	<span ng-bind="t.name" class="ui header"></span>
	  	<span class="main"> 
	  		<div ng-repeat="c in t.choices" style="line-height:20px">
		  		<small ng-bind="c"></small><Br>
	  		</div>
	  	</span>
	  </div>

	  <div class="new ui button fluid" ng-click="openTopic('newTopic')">
	  	<span class="ui header"> Gift?? Reminder??? Travel Tips?? </span>
	  </div>
	</div>

	<hr>
	<button ng-click="addEvent()" class="ui fluid orange button"> Submit </button>

	<!-- Modal -->
	<style>
		.form-group .ui.header {
			font-size: 14px;
		}

		.form-group {
			margin-top: 10px;
		}
	</style>
	<div class="ui modal fade" id="form1">
	      <div class="ui header"> New Event </div>

	      <div class="content">
	      	  <div class="form-group">
			    <label for="name" class="ui header">Name</label>
			    <div class="ui fluid input">
			    	<input type="text" placeholder="Event Name" ng-model="newEvent.name">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="description" class="ui header">Description</label>
			    <div class="ui fluid input">
				    <input type="text" placeholder="Event Description" ng-model="newEvent.description">
			    </div>
			  </div>		      	
	      </div>
	      <div class="ui segment">
	        <button type="button" class="ui small blue floated right close button">Confirm</button>
	      </div>
	</div> 

	<!-- Modal -->
	<div class="ui modal fade" id="form4">
	  <div class="ui header"> Participants </div>

	      <div class="content">
			  <h5 	ng-repeat="u in users" 
			  		class="full" 
			  		style="border-bottom:1px solid silver" 
			  		ng-click="u.selected = !u.selected" 
			  		ng-class="{'label-success': u.selected}">
			  	<span ng-show="u.selected"><i class="pull-right glyphicon glyphicon-ok"></i></span> 
			  	<span>{{u.name}}</span>
			  </h5>
	      </div>
	      <div class="ui segment">
	        <button type="button" class="ui blue button close">OK</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modal -->
	<div class="ui modal fade" id="form5">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Topic</h4>
	      </div>
	      <div class="modal-body">
	      	  <div class="form-group">
			    <label for="name">Name</label>
			    <input type="text" class="form-control" placeholder="Topic Name" ng-model="currentTopic.name">
			  </div>
			  <div class="form-group">
			    <label for="description">Description</label>
			    <textarea type="description" class="form-control" placeholder="Event Description" ng-model="currentTopic.description"></textarea>
			  </div>		      	
			  <div class="form-group">
			    <label for="choices">Choices</label>
			    <input type="text" class="form-control" placeholder="Choice 1" ng-model="currentTopic.choices[0]"/>
			    <input type="text" class="form-control" placeholder="Choice 2" ng-model="currentTopic.choices[1]"/>
			    <input type="text" class="form-control" placeholder="Choice 3" ng-model="currentTopic.choices[2]"/>
			    <input type="text" class="form-control" placeholder="Choice 4" ng-model="currentTopic.choices[3]"/>
			    <input type="text" class="form-control" placeholder="Choice 5" ng-model="currentTopic.choices[4]"/>
			  </div>	
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button type="button" class="btn btn-primary" ng-click="saveTopic()">Confirm</button>
	      </div>
	    </div>
	  </div>
	</div>

