

<style>
	.received, .sent {
		clear:both;
		padding: 10px 0px; 
	}

	.received > div {
		float:left;
		max-width: 70%;
		background-color: #ddd;
		color: #333;	
		text-align: left;
	}

	.sent > div {
		float:right;
		max-width: 70%;
		background-color: lightGreen;
		color: DarkGreen;	
		text-align: right;
	}

	.btn small {
		font-size: 10px;
		opacity: 0.5;
	}
	.btn hr {
		margin: 0px;
		padding: 3px;
	}
</style>

<div class="full" style="margin-bottom:10px; padding:5px" ng-show="chats && chats.length > 0">
	<div ng-repeat="c in chats" 
		ng-class="{'received':c.user!=local.user.$id, 'sent':c.user==local.user.$id}">
		<div class="btn"> 
			<small style="font-weight:bold" ng-bind="users.$getRecord(c.user).name"></small>
			<br>
			
			<small style="margin-bottom:5px" ng-bind="c.ts"></small>
			<br>

			<span ng-bind="c.text"></span>
		</div>
	</div>
</div>

<h6 ng-show="!chats || chats.length==0"> No Chat </h6>

<div class="full" style="font-size:16px; margin-top:10px;">
	<div class="col-xs-10 link" style="padding:0px !important;">
		<input style="padding:10px; width:100%" ng-model="newText"/>
	</div>

	<div class="col-xs-2 btn btn-success" style="padding:12px" ng-click="newChat(newText)"> Chat </div>
</div>