<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>	
	<link href="css/style.css" rel="stylesheet">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.js"></script>

    <script src="js/ngStorage.js"></script>	
    <Script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<Script src="js/angular-underscore.js"></script>

	<script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
</head>

<body ontouchstart="" ng-controller="controller">
	<div class="headerplaceholder" ng-include="'header.html'"></div>
	<div class="footerplaceholder" ng-include="'footer.html'"></div>

	<div class="container">	
		<h4 class="full title">{{event.name}} <small>{{event.description}}</small></h4>

		<style>
			div.choice {
				line-height: 1.4em;
				padding: 2px 5px;
				background-color: #eee;
				font-weight: normal;
			}

			div.topic {
				margin-bottom: 10px;
			}

			div.choice .badge {
				font-weight: normal !important;
			}

			div.choice.chosen {
				font-weight: bold !important;
				background-color: #ccc;
			}
		</style>

		<div class="full subtitle">Topics</div>

		<div class="row dashboard">
		  <div class="col-xs-6 topic" >
		  	<span class="main"> 
		  		<h4 style="margin-bottom:5px"> Participants <br></h4>
		  		<div ng-repeat="u in event.users" class="choice">
			  		<small ng-bind="users.$getRecord(u).name"></small><Br>
		  		</div>
		  	</span>
		  </div>

		  <div 	ng-repeat="t in event.topics" 
		  		class="col-xs-6 link topic" 
		  		ng-click="goto('eventtopic.html', t)">
		  	<span class="main"> 
		  		<h4 style="margin-bottom:5px"> {{topics.$getRecord(t).name}} <br> <small> {{topics.$getRecord(t).description}} </small></h4>
		  		<div 	ng-repeat="c in topics.$getRecord(t).choices" 
		  				class="choice"
						ng-class="{ 'chosen': getVote(t, c) ==  maxVotes(t) }">
					<span class="badge" ng-bind="getVote(t, c)"></span>
			  		<small ng-bind="c"></small><Br>
		  		</div>
		  	</span>
		  </div>
		</div>

		<div style="clear:both"></div>

		<div class="full subtitle">Chat</div>


		<div class="bottomplaceholder"></div>
	</div>

	<script>
		var app = angular
					.module("app", ["firebase", 'ui.bootstrap', 'ngStorage', 'angular-underscore'])
					.controller("controller",
						function($scope, $firebaseObject, $firebaseArray, $window, $localStorage) {
						    $scope.topics = $firebaseArray(new Firebase("https://eventshk.firebaseio.com/topic"));
						    $scope.users = $firebaseArray(new Firebase("https://eventshk.firebaseio.com/user"));
						    $scope.local = $localStorage;		

	  						$scope.getParam = function(name) {
							    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
							    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
							    results = regex.exec($window.location.search);
							    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
							};

							$scope.getVote = function(topicId, choice) {
								try {
									return _($scope.topics.$getRecord(topicId).votes).groupBy()[choice].length;
								} catch(e) { return 0;  }
							};

							$scope.maxVotes = function(topicId) {
								return _($scope.topics.$getRecord(topicId).votes).chain().groupBy().map(function(e) { return e.length; }).max().value();
							};

						    var obj = $firebaseObject(new Firebase("https://eventshk.firebaseio.com/event/" + $scope.getParam('id')));
						    
						     // to take an action after the data loads, use the $loaded() promise
						     obj.$loaded().then(function() {
						        console.log("loaded record:", obj.$id);
						     });

						     // For three-way data bindings, bind it to the scope instead
						     obj.$bindTo($scope, "event"); 

						     $scope.goto = function(page, id) {
								var url = page + "?id=" + id;
								try {
		  							linkEvent(url);
								} catch (e) {
		  							$window.location.href = url;
	  							}
						     };
						}
					);
	</script>
</body>
</html>
