
	<meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
	<meta name="viewport" content="width=device-width" />

	<link href="css/style.css" rel="stylesheet">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
</head>
<body ontouchstart="" ng-controller="controller">
	<div class="headerplaceholder" ng-include="'header.html'"></div>
	<div class="footerplaceholder" ng-include="'footer.html'"></div>

	<div class="container">	
		<div class="pull-right" style="padding:2px">
			<button class="btn" style="margin: 2px"> Sort </button>
		</div>
		<h4 class="full title"> My Events </h4>

		<style>
			li {
				border-radius: 0px !important;
				margin: 0px -15px;
			}
		</style>

      	<ul class="list-group">
		  <li ng-repeat="e in events" ng-click="goto(e.$id)" class="list-group-item" style="background-color:#eee">
		  	<h3>{{e.name}} <small> {{ e.$id }}</small></h3>
		  	<h6 ng-bind="e.description"></h6>
		  </li>
		</ul>

		<div class="bottomplaceholder"></div>
	</div>
	<script type="text/ng-template" id="loading">
        <div class="modal-header">
            <h3 class="modal-title">Loading</h3>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

	<script>
		var app = angular
					.module("app", ["firebase", 'ui.bootstrap'])
					.controller("controller", ["$scope", "$firebaseArray", '$window', 
						function($scope, $firebaseArray, $window) {
						    $scope.events = $firebaseArray(new Firebase("https://eventshk.firebaseio.com/event"));

						    console.log($scope.events);

	  						$scope.goto = function(id) {
	  							if (linkEvent) {
		  							linkEvent("eventsummary.html?id=" + id);
	  							} else {
		  							$window.location.href = "eventsummary.html?id=" + id;
	  							}
	  						}
						}
					]);
	</script>
</body>
</html>
