.link:active{
    -webkit-transform:scale(0.95); 
    -moz-transform:scale(0.95); 
    -ms-transform:scale(0.95); 
    -o-transform:scale(0.95); 
    transform:scale(0.95); 
    -webkit-box-shadow:0px 0px 20px #FFF; 
    -moz-box-shadow:0px 0px 20px #FFF; 
    -o-box-shadow:0px 0px 20px #FFF; 
    box-shadow:0px 0px 20px #FFF; 
}

* {
/*
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
*/
}

body {
	background-color: #f8f8f8;
}

#activities .list-group-item {
	position: relative;
}

.list-group-item .link, .buttonGroup {
	height:100% !important;
}

.list-group-item .buttonGroup {
	position: absolute;
	right:0px;
	top:0px;
}

.btn, .list-group-item, select {
	border-radius: 0px;
}

h1,h2,h3,h4,h5,h6 {
	padding: 0px;
	margin: 0px;
}

.header {
	padding: 10px;
	padding-bottom: 0px;
	margin: 0px;
}

.strong {
	font-weight: bold;
}

.btn.hidden {
	border-color: transparent;
	margin: 0px;
	padding: 5px 10px;
	background-color: transparent;
}

.link.active {
	background-color: pink;
	color: brown;
}